body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  #app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }
  #output img{
    width: 30px;
    height: auto;
    margin: 5px;
  }
  #loading{
    display: flex;
    align-items: center;
  }
  